{% extends "base.html" %}
{% load i18n django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}{{ block.super }}
    {% breadcrumb "Change e-mail" "account_email" %}
{% endblock breadcrumbs %}

{% block container %}
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        <h2>{% trans 'Confirm your e-mail address' %}</h2>
        <div class="row">
        <div class="col-md-7">
        <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that
            <a href="mailto:{{ email }}">{{ email }}</a> is your e-mail address.{% endblocktrans %}</p>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button id="confirm-button" class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
        </form>

    {% else %}

        {% url 'account_email' as email_url %}

        <p>{% blocktrans with email_address.email as email %}You have confirmed that
            <a href="mailto:{{ email }}">{{ email }}</a> is your e-mail address.{% endblocktrans %}</p>

    {% endif %}
</div>
</div>
{% endblock container %}
