{% extends 'base.html' %}
{% load i18n crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block extra_title %}{% trans 'Login' %}{% endblock extra_title %}

{% block breadcrumbs %}{{ block.super }}
    {% breadcrumb "Login" "account_login" %}
{% endblock breadcrumbs %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
          <form class="form-signin" action="" method="post">
                <p class="pull-right"><a href="{% url 'account_signup' %}">{% trans 'Not signed up yet?' %}</a></p>
                <h2 class="form-signin-heading">Login</h2>
                {% csrf_token %}
                {{ form|crispy }}
                <button id="sign-in-button" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>
      </div>
{% endblock container %}
