{% extends 'account/base.html' %}
{% load i18n crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block extra_title %}{% trans 'Change password' %}{% endblock extra_title %}

{% block breadcrumbs %}{{ block.super }}
    {% breadcrumb "Change password" "account_change_password" %}
{% endblock breadcrumbs %}

{% url 'contact:form' as contact_url %}

{% block content_account %}
    <form method="POST" action="./" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit" name="action">{% trans "Change password" %}</button>
    </form>
{% endblock content_account %}

