{% extends 'base.html' %}
{% load i18n crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block extra_title %}{% trans 'Reset password' %}{% endblock extra_title %}

{% block breadcrumbs %}{{ block.super }}
    {% breadcrumb "Reset password" "account_reset_password" %}
{% endblock breadcrumbs %}

{% block container %}
{% if token_fail %}
    <h2>{% trans 'Wrong token' %}</h2>
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}
    {% if form %}
        <div class="row">
            <div class="col-md-12">
                <form class="form-halfpage" action="" method="post">
                    <h2 class="form-halfpage-heading">{% trans 'Password reset' %}</h2>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button id="sign-in-button" class="btn btn-lg btn-primary btn-block"
                            type="submit">{% trans "Change password" %}</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>{% trans 'Your password is now changed.' %}</p>
    {% endif %}
{% endif %}
{% endblock container %}

