{% extends 'base.html' %}
{% load i18n account django_bootstrap_breadcrumbs %}

{% block extra_title %}{% trans 'Reset password' %}{% endblock extra_title %}

{% block breadcrumbs %}{{ block.super }}
    {% breadcrumb "Reset password" "account_reset_password" %}
{% endblock breadcrumbs %}

{% url 'contact:form' as contact_url %}

{% block container %}
    <h2>{% trans 'Password reset link sent' %}</h2>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. Please <a href="{{ contact_url }}">contact us</a> if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock container %}
