{% extends "account/sub_security.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block page_header %}{% trans "Change password" %}{% endblock page_header %}

{% block change_password_link %} class="active"{% endblock change_password_link %}

{% block content %}
<form method="POST" action="./" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn" type="submit" name="action">{% trans "Change Password" %}</button>
</form>
{% endblock %}

