{% extends "base.html" %}
{% load i18n crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block extra_title %}{% trans 'Signup closed' %}{% endblock extra_title %}

{% block breadcrumbs %}{{ block.super }}
    {% breadcrumb "Signup closed" "account_signup" %}
{% endblock breadcrumbs %}

{% block container %}
    <div class="row">
        <div class="col-md-7">
            <h2>{% trans 'Signup closed' %}</h2>
            <div class="container"><p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
    </div>
{% endblock container %}
