{% extends "account/signup.html" %}
{% load i18n account django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}{{ block.super }}
    {% breadcrumb "Confirmation sent" "account_email_verification_sent" %}
{% endblock breadcrumbs %}

{% block container %}
    <div class="row">
        <div class="col-md-7">
            <h2>{% trans 'Confirmation email sent.' %}</h2>
            <p>{% blocktrans %}We have sent an e-mail to <a href="mailto:{{ email }}">{{ email }}</a> for verification.
                Follow the link provided to finalize the signup process. Please contact us if you do not receive it
                within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock container %}
