# Basics
*.py[cod]
__pycache__

# Logs
*.log

# Unit test / coverage reports
.coverage
.tox
htmlcov

# Translations
*.mo
*.pot

# Vim
*~
*.swp
*.swo

# npm
node_modules/
assets/bundles/
assets/dist/

# yarn
.yarn_cache/*
!.yarn_cache/.gitkeep

# webpack
webpack-stats.json

# virtual environments
.env

# Cache
.cache/

# OSX
.DS_Store
