POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

DATABASE_URL=postgres://django_clock_staging:123exploretheextraordinarygreattaste456%@127.0.0.1:61234/django_clock_staging

DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=CHENGAMY!!!^e8je^d8+us-s9!j3ks@h2h1(*^kr$-jocui3wam6%i=+^mti9
DJANGO_ALLOWED_HOSTS=clock.idiotism.us
#DJANGO_AWS_ACCESS_KEY_ID=
#DJANGO_AWS_SECRET_ACCESS_KEY=
#DJANGO_AWS_STORAGE_BUCKET_NAME=
DJANGO_MAILGUN_API_KEY=key-0bdb1cd26cee23bb9b228abdd67d5bfa
DJANGO_MAILGUN_SERVER_NAME=mg.idiotism.us
DJANGO_SERVER_EMAIL=
DJANGO_SECURE_SSL_REDIRECT=False
