[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
whitenoise = "*"
django-braces = "*"
django-crispy-forms = "*"
django-allauth = "*"
pytz = "*"
django-bootstrap-breadcrumbs = "*"
"django-bootstrap3" = "*"
reportlab = "*"
lxml = "*"
django-recaptcha = "*"
raven = "*"
gunicorn = "*"
gevent = "*"
django-anymail = "*"
django-webpack-loader = "*"
django-taggit = "*"
python-dateutil = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
djangorestframework = "*"

[dev-packages]
coverage = "*"
django-coverage-plugin = "*"
django-extensions = "*"
werkzeug = "*"
django-test-plus = "*"
factory-boy = "*"
django-debug-toolbar = "*"
ipython = "*"
ipdb = "*"
pytest-django = "*"
pytest-sugar = "*"
maildump = "*"
pytest-cov = "*"
codecov = "*"
freezegun = "*"
pytest-isort = "*"
"pytest-flake8" = "*"
django-rosetta = "*"
pylint = "*"
pylint-django = "*"

[pipenv]
keep_outdated = true
