{% extends "base.html" %}
{% load staticfiles i18n %}

{% block extra_css %}<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock extra_css %}

{% block page_header %}{% trans "Contracts" %}{% endblock page_header %}
{% block small_optional_head %}<small>{% trans "Manage your contracts" %}</small>{% endblock small_optional_head %}

{% block contract_link %} class="active" {% endblock contract_link %}

{% block breadcrumbs %}{{ block.super }}
<li>Contracts</li>
{% endblock breadcrumbs %}

{% block extra_js %}<!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>{% endblock extra_js%}
