{% extends "work/contract/contract_base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Delete Contract" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <legend>{% trans "Delete contract?" %}</legend>
            <form action="" method="post" role="form" class="form">
            {% csrf_token %}
            <div class="alert alert-danger">
                <p>{% trans "Are you sure you want to delete the contract?" %}</p>
                {#<p>{{ object.shift_started }}, {{ object.shift_finished }}, Duration: {{ object.shift_duration }}</p>#}
            </div>
            {% buttons %}
            <button type="submit" class="btn btn-danger">
              {% trans "Confirm" %}
            </button>
            {% endbuttons %}
            <a href="{% url 'work:contract_list' %}" class="btn btn-default" type="button">
              {% trans "Abort" %}
            </a>
        </form>
        </div>
    </div>
{% endblock %}
