{% extends "work/contract/contract_base.html" %}
{% load i18n bootstrap crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block head_title %}{% if form.instance.pk %}{% trans 'Update contract' %}{% else %}{% trans 'Create contract' %}{% endif %}{% endblock %}
{% block small_optional_head %}<small>{% if form.instance.pk %}{% trans 'Update existing contract' %}{% else %}{% trans 'Create new contract' %}{% endif %}</small>{% endblock small_optional_head %}

{% block breadcrumbs %}{{ block.super }}
{% breadcrumb_safe 'Manage' 'work:contract_list' %}
{% endblock breadcrumbs %}

{% block content %}{% crispy form %}{% endblock %}

{% block box-footer %}
{% if form.instance.pk %}
<a href="{% url 'work:contract_delete' form.instance.pk %}" class="btn btn-danger pull-right" role="button"><span class="fa fa-trash-o"> {% trans "Delete?" %}</span></a>
{% endif %}
<a href="{% url 'work:contract_list' %}" class="btn btn-default pull-right" type="button"><i class="fa fa-ban fa-lg"></i>&nbsp; {% trans "Abort" %}</a>{% endblock box-footer %}
