{% extends 'work/contract/list.html' %}
{% load i18n django_bootstrap_breadcrumbs crispy_forms_tags %}

{% block breadcrumbs %}{{ block.super }}
    {% if contract %}
        {% breadcrumb "Update contract" "work:contract_edit" contract.pk %}
    {% else %}
        {% breadcrumb "New contract" "work:contract_add" %}
    {% endif %}
{% endblock breadcrumbs %}

{% block container %}
    <div class="row">
        <div class="col-sm-6">
            {% if contract %}
                <h2>{% trans 'Update contract' %}</h2>
            {% else %}
                <h2>{% trans 'New contract' %}</h2>
            {% endif %}
            {% crispy form %}
        </div>
    </div>
{% endblock container %}
