{% extends "work/contract/contract_base.html" %}
{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Manage contracts" %}{% endblock %}
{% block extra_js %}{{ block.super }}<script>
$(document).ready(function() {
    $('#contracts').DataTable({
        "order": [[0, "desc"]]
    });

    $('#contracts tbody').on( 'click', 'tr', function () {
        window.location.href = this.id + "/update/";
    });
});
</script>{% endblock extra_js %}

{% block content %}
<table id="contracts" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th data-sortable="true">{% trans "Contract No." %}</th>
            <th data-sortable="true">{% trans "Contract name" %}</th>
            <th data-sortable="true">{% trans "Hours per month" %}</th>
            <th data-sortable="true">{% trans "Delete?" %}</th>
        </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
        {% for contract in object_list %}
        <tr id="{{ contract.pk }}">
            <td>{{ forloop.revcounter }}</td>
            <td>{{ contract }}</td>
            <td>{{ contract.hours }}</td>
            <td><a class="btn btn-danger" type="button" href="{% url 'work:contract_delete' contract.pk %}">X</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block box-footer %}
<a class="btn btn-primary pull-right" role="button" href="{% url 'work:contract_add' %}"><i class="fa fa-plus fa-lg"></i>&nbsp; {% trans 'Add new contract' %}</span></a>
{% endblock box-footer %}
