{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Dashboard" %}{% endblock %}
{% block page_header %}{% trans "Dashboard" %}{% endblock page_header %}
{% block small_optional_head %}<small>{% trans "Let's do some work!" %}</small>{% endblock small_optional_head %}
{% block content %}
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 text-center">
                            {% include 'pages/quick_actions.html' %}
                        </div>
                    </div>
{% endblock %}
