{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Dashboard" %}{% endblock %}
{% block page_header %}{% trans "Dashboard" %}{% endblock page_header %}
{% block small_optional_head %}<small>{% trans "Let's do some work!" %}</small>{% endblock small_optional_head %}
{% block content %}
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 text-center">
                            {% include 'pages/quick_actions.html' %}
                        </div>
                    </div>
{% endblock %}
{% block dashboard_content %}
<div class="box collapsed-box">
              <div class="box-header with-border">
                <h3 class="box-title">Monthly Recap Report</h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <div class="btn-group">
                    <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                  <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div><!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-8">
                    <p class="text-center">
                      <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                    </p>
                    <div class="chart">
                      <!-- Sales Chart Canvas -->
                      <canvas id="salesChart" style="height: 180px;"></canvas>
                    </div><!-- /.chart-responsive -->
                  </div><!-- /.col -->
                  <div class="col-md-4">
                    <p class="text-center">
                      <strong>Goal Completion</strong>
                    </p>
                    <div class="progress-group">
                      <span class="progress-text">Add Products to Cart</span>
                      <span class="progress-number"><b>160</b>/200</span>
                      <div class="progress sm">
                        <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                      </div>
                    </div><!-- /.progress-group -->
                    <div class="progress-group">
                      <span class="progress-text">Complete Purchase</span>
                      <span class="progress-number"><b>310</b>/400</span>
                      <div class="progress sm">
                        <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                      </div>
                    </div><!-- /.progress-group -->
                    <div class="progress-group">
                      <span class="progress-text">Visit Premium Page</span>
                      <span class="progress-number"><b>480</b>/800</span>
                      <div class="progress sm">
                        <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                      </div>
                    </div><!-- /.progress-group -->
                    <div class="progress-group">
                      <span class="progress-text">Send Inquiries</span>
                      <span class="progress-number"><b>250</b>/500</span>
                      <div class="progress sm">
                        <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                      </div>
                    </div><!-- /.progress-group -->
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- ./box-body -->
              <div class="box-footer">
                <div class="row">
                  <div class="col-sm-3 col-xs-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                      <h5 class="description-header">$35,210.43</h5>
                      <span class="description-text">TOTAL REVENUE</span>
                    </div><!-- /.description-block -->
                  </div><!-- /.col -->
                  <div class="col-sm-3 col-xs-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                      <h5 class="description-header">$10,390.90</h5>
                      <span class="description-text">TOTAL COST</span>
                    </div><!-- /.description-block -->
                  </div><!-- /.col -->
                  <div class="col-sm-3 col-xs-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                      <h5 class="description-header">$24,813.53</h5>
                      <span class="description-text">TOTAL PROFIT</span>
                    </div><!-- /.description-block -->
                  </div><!-- /.col -->
                  <div class="col-sm-3 col-xs-6">
                    <div class="description-block">
                      <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                      <h5 class="description-header">1200</h5>
                      <span class="description-text">GOAL COMPLETIONS</span>
                    </div><!-- /.description-block -->
                  </div>
                </div><!-- /.row -->
              </div><!-- /.box-footer -->
            </div><!-- /.box -->
            <!-- row -->
            <div class="row">
              <div class="col-xs-12">
                <!-- jQuery Knob -->
                <div class="box box-solid collapsed-box">
                  <div class="box-header">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">jQuery Knob</h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      <button class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <input type="text" class="knob" value="30" data-width="90" data-height="90" data-fgColor="#3c8dbc">
                        <div class="knob-label">New Visitors</div>
                      </div><!-- ./col -->
                      <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <input type="text" class="knob" value="70" data-width="90" data-height="90" data-fgColor="#f56954">
                        <div class="knob-label">Bounce Rate</div>
                      </div><!-- ./col -->
                      <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <input type="text" class="knob" value="-80" data-min="-150" data-max="150" data-width="90" data-height="90" data-fgColor="#00a65a">
                        <div class="knob-label">Server Load</div>
                      </div><!-- ./col -->
                      <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <input type="text" class="knob" value="40" data-width="90" data-height="90" data-fgColor="#00c0ef">
                        <div class="knob-label">Disk Space</div>
                      </div><!-- ./col -->
                    </div><!-- /.row -->

                    <div class="row">
                      <div class="col-xs-6 text-center">
                        <input type="text" class="knob" value="90" data-width="90" data-height="90" data-fgColor="#932ab6">
                        <div class="knob-label">Bandwidth</div>
                      </div><!-- ./col -->
                      <div class="col-xs-6 text-center">
                        <input type="text" class="knob" value="50" data-width="90" data-height="90" data-fgColor="#39CCCC">
                        <div class="knob-label">CPU</div>
                      </div><!-- ./col -->
                    </div><!-- /.row -->
                  </div><!-- /.box-body -->
                </div><!-- /.box -->
              </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">
              <div class="col-xs-12">
                <div class="box box-solid collapsed-box">
                  <div class="box-header">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">jQuery Knob Different Sizes</h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      <button class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                  </div><!-- /.box-header -->
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <input type="text" class="knob" value="30" data-width="90" data-height="90" data-fgColor="#3c8dbc" data-readonly="true">
                        <div class="knob-label">data-width="90"</div>
                      </div><!-- ./col -->
                      <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <input type="text" class="knob" value="30" data-width="120" data-height="120" data-fgColor="#f56954">
                        <div class="knob-label">data-width="120"</div>
                      </div><!-- ./col -->
                      <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <input type="text" class="knob" value="30" data-thickness="0.1" data-width="90" data-height="90" data-fgColor="#00a65a">
                        <div class="knob-label">data-thickness="0.1"</div>
                      </div><!-- ./col -->
                      <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <input type="text" class="knob" data-thickness="0.2" data-angleArc="250" data-angleOffset="-125" value="30" data-width="120" data-height="120" data-fgColor="#00c0ef">
                        <div class="knob-label">data-angleArc="250"</div>
                      </div><!-- ./col -->
                    </div><!-- /.row -->
                  </div><!-- /.box-body -->
                </div><!-- /.box -->
              </div><!-- /.col -->
            </div><!-- /.row -->
{% endblock dashboard_content %}

{% block extra_js %}<script src="{% static 'js/project.js' %}"></script>{% endblock extra_js %}
