{% load i18n %}
        <form id="post-form" action="{% url 'work:quick_action' %}" method="post">
            {% csrf_token %}
        {% if shift_closed and shift_paused %}
            <button class="btn btn-warning" type="submit" name="_pause"><i class="fa fa-play-circle fa-3x"></i></button>
        {% elif shift_closed and not shift_paused %}
            <button class="btn btn-warning" type="submit" name="_pause"><i class="fa fa-pause fa-3x"></i></button>
        {% else %}
            <button class="btn btn-success" type="submit" name="_start"><i class="fa fa-play-circle fa-3x"></i></button>
        {% endif %}
            <button class="btn btn-danger" type="submit" name="_stop"><i class="fa fa-stop fa-3x"></i></button>
            <br /><br />
            <select class="block form-control" style="width:300px" name="contract"{% if not all_contracts %}disabled{% endif %}>
                {% for institutes in all_contracts %}
                <option value="{{ institutes.pk }}"{% if institutes == default_contract %} selected="selected"{% endif %}>{{ institutes }}</option>
                {% endfor %}
                <option value="None">{% trans 'Without assignment' %}</option>
            </select>
        </form>
