{% extends "work/shift/shift_base.html" %}
{% load i18n %}{% load bootstrap3 %}{% load crispy_forms_tags %}

{% block extra_js %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
      <script src="http://issues.wenzhixin.net.cn/bootstrap-table/assets/bootstrap-table/src/extensions/mobile/bootstrap-table-mobile.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/locale/bootstrap-table-de-DE.min.js"></script>
{% endblock %}

{% block head_title %}{% if form.instance.pk %}{% trans 'Update shift' %}{% else %}{% trans 'Create shift' %}{% endif %}{% endblock %}

{% block content %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Read the documentation for more information #}
<div class="jumbotron">
    <div class="container">
        {% if form.instance.pk %}<h2>{% trans 'Update shift' %}</h2>{% else %}<h2>{% trans 'Create shift' %}</h2>{% endif %}
        {% crispy form %}
        <a href="{% url 'work:shift_list' %}" class="btn btn-default" type="button">
              {% trans "Abort" %}
        </a>
        {% if form.instance.pk %}
        <a href="{% url 'work:shift_delete' form.instance.pk %}" class="btn btn-danger" role="button">{% trans "Delete?" %}</a>
        {% endif %}
    </div>
</div>
{% endblock %}
