{% extends 'work/shift/shift_base.html' %}
{% load i18n l10n format_duration %}

{% block head_title %}{% trans "Shift list" %}{% endblock %}
{% block extra_js %}{{ block.super }}<script>
$(document).ready(function() {
    $('#shifts').DataTable({
        "order": [[1, "desc"]],
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    });

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                });
            });
        }
    });

    $('#shifts tbody').on( 'click', 'tr', function () {
        window.location.href = this.id + "/update/";
    });
});
</script>{% endblock extra_js %}

{% block content %}
    <table id="shifts" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th data-sortable="true">{% trans "Shift No." %}</th>
                <th data-sortable="true">{% trans "Contract" %}</th>
                <th data-sortable="true">{% trans "Shift started" %}</th>
                <th data-sortable="true">{% trans "Shift finished" %}</th>
                <th data-sortable="true">{% trans "Pause duration" %}</th>
                <th data-sortable="true">{% trans "Shift duration" %}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>&nbsp;</th>
                <th>{% trans "Contract" %}</th>
                <th>{% trans "Shift started" %}</th>
                <th>{% trans "Shift finished" %}</th>
                <th>{% trans "Pause duration" %}</th>
                <th>{% trans "Shift duration" %}</th>
            </tr>
        </tfoot>
        <tbody data-link="row" class="rowlink">
            {% for shifts in object_list %}
            <tr id="{{ shifts.pk }}">
                <td>{{ forloop.revcounter }}</td>
                <td>{{ shifts.contract }}</td>
                <td>{{ shifts.shift_started }}</td>
                <td>{{ shifts.shift_finished }}</td>
                <td>{{ shifts.pause_duration|format_timedelta }}</td>
                <td>{{ shifts.shift_duration|format_timedelta }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block box-footer %}
<a class="btn btn-primary pull-right" href="{% url 'work:shift_add' %}"><i class="fa fa-plus fa-lg"></i>&nbsp; {% trans "Create new shift" %}</a>
{% endblock box-footer %}
