{% extends "base.html" %}
{% load staticfiles i18n %}

{% block extra_css %}<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock extra_css %}

{% block page_header %}{% trans "Shifts" %}{% endblock page_header %}
{% block small_optional_head %}<small>{% trans "Edit your finished shifts" %}</small>{% endblock small_optional_head %}

{% block breadcrumbs %}{{ block.super }}
<li>Shifts</li>
{% endblock breadcrumbs %}

{% block nav %}
        <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> <span>Home</span></a></li>
        <li class="active"><a href="{% url 'work:shift_list' %}"><i class="fa fa-clock-o"></i> <span>{% trans "Shifts" %}</span></a></li>
        <li><a href="{% url 'work:contract_list' %}"><i class="fa fa-files-o"></i> <span>{% trans "Contracts" %}</span> </a></li>
{% endblock %}

{% block extra_js %}<!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>{% endblock extra_js%}
