{% extends 'base.html' %}

{% block container %}
<ul>
    {% for shift in object_list %}
        <li><a href="">{{ forloop.counter }} - Start: {{ shift.shift_started }} - Ende: {{ shift.shift_finished }} - {{ shift.shift_duration }}</a></li>
    {% endfor %}
</ul>

<p>
    {% if previous_week %}
        Previous Week: <a href="{% url 'work:archive_week' year=previous_week|date:"Y" week=previous_week|date:"W" %}">{{ previous_week|date:"W" }} of year {{ previous_week|date:"Y" }}</a>
    {% endif %}
    {% if previous_week and next_week %}--{% endif %}
    {% if next_week %}
        Next week: <a href="{% url 'work:archive_week' year=next_week|date:"Y" week=next_week|date:"W" %}">{{ next_week|date:"W" }} of year {{ next_week|date:"Y" }}</a>
    {% endif %}
</p>
{% endblock container %}
