{% extends "base.html" %}
{% load i18n static %}

{% block title %}User: {{ object.username }}{% endblock %}
{% block page_header %}{% trans "Your profile" %}{% endblock page_header %}

{% block content %}
      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">{% trans "My Info" %}</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">{% trans "E-mail" %}</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

{% block nav %}{{ block.super }}

{% endblock nav %}
