table.dataTable thead th {
	position: relative;
	background-image: none !important; /* Remove the DataTables bootstrap integration styling */
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
	position: absolute;
	top: 12px;
	right: 8px;
	display: block;
	font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
	content: "\f0dc";
	color: #ddd;
	font-size: 0.8em;
	padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
	content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
	content: "\f0dd";
}

div.dataTables_scrollBody table.dataTable thead th.sorting:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_asc:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_desc:after {
	content: "";
}

/* In Bootstrap and Foundation the padding top is a little different from the DataTables stylesheet */
table.table thead th.sorting:after,
table.table thead th.sorting_asc:after,
table.table thead th.sorting_desc:after {
	top: 8px;
}


/*
 * DataTables style pagination controls
 */
div.dataTables_paginate a.paginate_button.first,
div.dataTables_paginate a.paginate_button.previous {
	position: relative;
	padding-left: 24px;
}

div.dataTables_paginate a.paginate_button.next,
div.dataTables_paginate a.paginate_button.last {
	position: relative;
	padding-right: 24px;
}

div.dataTables_paginate a.first:before,
div.dataTables_paginate a.previous:before {
	position: absolute;
	top: 8px;
	left: 10px;
	display: block;
	font-family: FontAwesome;
}

div.dataTables_paginate a.next:after,
div.dataTables_paginate a.last:after {
	position: absolute;
	top: 8px;
	right: 10px;
	display: block;
	font-family: FontAwesome;
}

div.dataTables_paginate a.first:before {
	content: "\f100";
}

div.dataTables_paginate a.previous:before {
	content: "\f104";
}

div.dataTables_paginate a.next:after {
	content: "\f105";
}

div.dataTables_paginate a.last:after {
	content: "\f101";
}


/*
 * Bootstrap and foundation style pagination controls
 */
div.dataTables_paginate li.first > a,
div.dataTables_paginate li.previous > a {
	position: relative;
	padding-left: 24px;
}

div.dataTables_paginate li.next > a,
div.dataTables_paginate li.last > a {
	position: relative;
	padding-right: 24px;
}

div.dataTables_paginate li.first a:before,
div.dataTables_paginate li.previous a:before {
	position: absolute;
	top: 6px;
	left: 10px;
	display: block;
	font-family: FontAwesome;
}

div.dataTables_paginate li.next a:after,
div.dataTables_paginate li.last a:after {
	position: absolute;
	top: 6px;
	right: 10px;
	display: block;
	font-family: FontAwesome;
}

div.dataTables_paginate li.first a:before {
	content: "\f100";
}

div.dataTables_paginate li.previous a:before {
	content: "\f104";
}

div.dataTables_paginate li.next a:after {
	content: "\f105";
}

div.dataTables_paginate li.last a:after {
	content: "\f101";
}

/* In Foundation we don't want the padding like in bootstrap */
div.columns div.dataTables_paginate li.first a:before,
div.columns div.dataTables_paginate li.previous a:before,
div.columns div.dataTables_paginate li.next a:after,
div.columns div.dataTables_paginate li.last a:after {
	top: 0;
}

.table.dataTable td.control {
  /* Weird bug in local devleopment with AJAX.. let's set the min-width to a certain value! */
  width: 10px;
	padding:20px;
}

/* DataTables Responsive With FontAwesome */

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {
  position: relative;
  /*padding-left: 30px;*/
  cursor: pointer;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  color: rgb(20, 82, 162);
  font-family: "FontAwesome";
  content: '\f055';
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child.dataTables_empty:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child.dataTables_empty:before {
  display: none;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  color: rgb(20, 82, 162);
  font-family: "FontAwesome";
  content: '\f056';
}
table.dataTable.dtr-inline.collapsed > tbody > tr.child td:before {
  display: none;
}
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child, table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child {
  padding-left: 27px;
}
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child:before {
  top: 5px;
  left: 4px;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  line-height: 12px;
}
table.dataTable.dtr-column > tbody > tr > td.control,
table.dataTable.dtr-column > tbody > tr > th.control {
  position: relative;
  cursor: pointer;
}
table.dataTable.dtr-column > tbody > tr > td.control:before,
table.dataTable.dtr-column > tbody > tr > th.control:before {
  color: rgb(20, 82, 162);
  font-family: "FontAwesome";
  content: '\f055';
}
table.dataTable.dtr-column > tbody > tr.parent td.control:before,
table.dataTable.dtr-column > tbody > tr.parent th.control:before {
  color: rgb(20, 82, 162);
  font-family: "FontAwesome";
  content: '\f056';
}
table.dataTable > tbody > tr.child {
  padding: 0.5em 1em;
}
table.dataTable > tbody > tr.child:hover {
  background: transparent !important;
}
table.dataTable > tbody > tr.child ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
table.dataTable > tbody > tr.child ul li {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
}
table.dataTable > tbody > tr.child ul li:first-child {
  padding-top: 0;
}
table.dataTable > tbody > tr.child ul li:last-child {
  border-bottom: none;
}
table.dataTable > tbody > tr.child span.dtr-title {
  display: inline-block;
  min-width: 75px;
  font-weight: bold;
}

/* Custom changes for Clock */
#shift_table > tbody > tr {
	cursor: pointer;
	text-align: center;
}

#shift_table > tbody > tr:active,
#shift_table > tbody > tr:focus,
#shift_table > tbody > tr:hover {
	background-color: rgb(17, 146, 201);
	color: white;
}

/* Only change color of the plus/minus sign, if the parent tr is focussed/active/hovered over! */
#shift_table > tbody > tr:active td.control:before,
#shift_table > tbody > tr:focus td.control:before,
#shift_table > tbody > tr:hover td.control:before {
	color: rgb(255, 255, 255);
}

#shift_table > tbody td {
	vertical-align: middle;
}

tr.child > td.child > ul > li {
	color: rgb(0, 0, 0);
	text-align: left;
}

@media screen and (max-width: 640px) {
	div.dt-buttons {
		text-align: inherit;
	}
}

@media screen and (max-width: 767px) {
	div.dataTables_wrapper div.dataTables_filter {
	    text-align: right;
	}
}
