{% extends 'shift/base.html' %}
{% load crispy_forms_tags i18n bootstrap3 django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}{{ block.super }}
    {% breadcrumb "Delete shift" "shift_delete" object.pk %}
{% endblock breadcrumbs %}


{% block container %}
    <h2>{% trans 'Delete shift' %}</h2>
    <form action="" method="post" role="form" class="form">
        {% csrf_token %}
        <div class="alert alert-danger">
            <p>{% trans "Are you sure you want to delete the following shift?" %}</p>
            <p>{{ object.shift_started }}, {{ object.shift_finished }}, Duration: {{ object.shift_duration }}</p>
        </div>
        {% buttons %}
            <button type="submit" class="btn btn-danger pull-right"><i
                    class="fa fa-trash-o"></i>&nbsp; {% trans "Confirm" %}</button>
            {# This is some trickery! We want the "Cancel" button to redirect us to our last 'filtered view'. This nested if clauses takes care of that! #}
            <a class="btn btn-default pull-right second-button" href="

                    {% if 'shift' in request.session.last_visited and request.session.last_kwargs.year %}
                        {% if request.session.last_kwargs.contract %}
                            {% url 'shift:archive_month_contract_numeric' month=request.session.last_kwargs.month year=request.session.last_kwargs.year contract=request.session.last_kwargs.contract %}
                        {% else %}
                            {% url 'shift:archive_month_numeric' month=request.session.last_kwargs.month year=request.session.last_kwargs.year %}
                        {% endif %}
                    {% else %}
                      {% url 'shift:list' %}
                    {% endif %}">{% trans 'Cancel' %}</a>
        {% endbuttons %}
    </form>{% endblock %}
