{% extends 'shift/base.html' %}
{% load staticfiles i18n django_bootstrap_breadcrumbs crispy_forms_tags %}

{% block extra_title %}{% if shift %}{% trans 'Update shift' %}{% else %}{% trans 'New shift' %}
{% endif %}{% endblock extra_title %}

{% block extra_head %}{{ block.super }}
{% comment %}
    <script type="text/javascript" src="{% static 'libraries/moment/js/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'libraries/eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libraries/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libraries/tageditor/js/jquery.caret.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libraries/tageditor/js/jquery.tag-editor.min.js' %}"></script>
    <link rel="stylesheet"
          href="{% static 'libraries/eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libraries/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/tageditor/css/jquery.tag-editor.css' %}">
{% endcomment %}
{% endblock extra_head %}

{% block breadcrumbs %}{{ block.super }}
    {% if shift %}
        {% breadcrumb "Update shift" "shift:edit" object.pk %}
    {% else %}
        {% breadcrumb "New shift" "shift:new" %}
    {% endif %}
{% endblock breadcrumbs %}

{% block container %}
    <div class="row">
        <div class="col-md-6">
            {% if shift %}
                <h2>{% trans 'Update shift' %} {{ month|date:"F Y" }}</h2>
            {% else %}
                <h2>{% trans 'New shift' %}</h2>
            {% endif %}

            {% crispy form %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var tags = $('input[type="text"]#id_tags').tagEditor();
    </script>
    {% if not shift %}
    <script type="text/javascript">
        $(function () {
            var shiftStartedPicker = $("#id_shift_started_pickers");
            var shiftFinishedPicker = $("#id_shift_finished_pickers");
            shiftStartedPicker.data("DateTimePicker").defaultDate('{{ view.base_date }}');
            shiftFinishedPicker.data("DateTimePicker").defaultDate('{{ view.base_date }}');
            shiftStartedPicker.data("DateTimePicker").keyBinds({'delete': false});
            shiftStartedPicker.datetimepicker();
            shiftFinishedPicker.datetimepicker({
              useCurrent: false //Important! See issue #1075
            });
            shiftStartedPicker.on("dp.change", function (e) {
                shiftFinishedPicker.data("DateTimePicker").minDate(e.date);
            });
            shiftFinishedPicker.on("dp.change", function (e) {
                shiftStartedPicker.data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
    {% endif %}
{% endblock extra_js %}
