{% extends 'shift/base.html' %}
{% load staticfiles i18n django_bootstrap_breadcrumbs crispy_forms_tags %}

{% block extra_title %}{% if shift %}{% trans 'Update shift' %}{% else %}{% trans 'New shift' %}
{% endif %}{% endblock extra_title %}

{% block extra_head %}{{ block.super }}{% endblock extra_head %}

{% block breadcrumbs %}{{ block.super }}
    {% if shift %}
        {% breadcrumb "Update shift" "shift:edit" object.pk %}
    {% else %}
        {% breadcrumb "New shift" "shift:new" %}
    {% endif %}
{% endblock breadcrumbs %}

{% block container %}
    <div class="row">
        <div class="col-md-6">
            {% if shift %}
                <h2>{% trans 'Update shift' %} {{ month|date:"F Y" }}</h2>
            {% else %}
                <h2>{% trans 'New shift' %}</h2>
            {% endif %}

            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var tags = $('input[type="text"]#id_tags').tagEditor();
    </script>
    <script type="text/javascript">
      $(function () {
        var shiftStartedPicker = $("#div_id_shift_started");
        var shiftFinishedPicker = $("#div_id_shift_finished");
        var pauseDurationPicker = $("#div_id_pause_duration");
        shiftStartedPicker.datetimepicker({
          inline: true,
          sideBySide: true,
          keepOpen: true,
          keepInvalid: true,
          showTodayButton: true,
          locale: '{{ LANGUAGE_CODE }}',
          stepping: 5
        });
        shiftFinishedPicker.datetimepicker({
          inline: true,
          sideBySide: true,
          locale: '{{ LANGUAGE_CODE }}',
          useCurrent: true,
          stepping: 5
        });
        pauseDurationPicker.datetimepicker({
          inline: true,
          stepping: 5,
          format: 'HH:mm',
          locale: '{{ LANGUAGE_CORE }}'
        });
      $('#id_shift_started').hide();
      $('#id_shift_finished').hide();
      $('#id_pause_duration').hide();
      {% if not shift %}
      // shiftStartedPicker.data("DateTimePicker").defaultDate('{{ view.base_date }}');
      // shiftFinishedPicker.data("DateTimePicker").defaultDate('{{ view.base_date }}');
        // shiftStartedPicker.data("DateTimePicker").keyBinds({'delete': false});
      shiftStartedPicker.on("dp.change", function (e) {
        shiftFinishedPicker.data("DateTimePicker").minDate(e.date);
      });
      shiftFinishedPicker.on("dp.change", function (e) {
        shiftStartedPicker.data("DateTimePicker").maxDate(e.date);
        });
        {% endif %}
        });
    </script>
{% endblock extra_js %}
