{% extends 'shift/base.html' %}
{% load staticfiles i18n django_bootstrap_breadcrumbs format_duration base_extras %}
{% get_current_language as LANGUAGE_CODE %}
{% block extra_head %}{{ block.super }}
    <script type="text/javascript" src="{% static 'libraries/moment/js/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'libraries/eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libraries/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <link rel="stylesheet"
          href="{% static 'libraries/eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/datatables/css/datatables.min.css' %}"/>

    <link rel="stylesheet" href="{% static 'libraries/bootstrap-select/css/bootstrap-select.min.css' %}" media="screen"
          title="no title" charset="utf-8">
{% endblock extra_head %}

{% block breadcrumbs %}{{ block.super }}
    {% breadcrumb month|date:"F Y" "shift_list" %}
{% endblock breadcrumbs %}

{% block container %}
    <h2>{% trans 'Shifts in' %} {{ month|date:"F Y" }}</h2>
    <div class="objectList-topbar row">
        <div class='col-sm-12 col-md-3'>
            <div class="form-group">
                <div class='input-group date' id='monthpicker'>
                    <input type='text' class="form-control"
                           placeholder="{% trans 'Change month...' %}"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            {#            {% if not previous_month or not shift %}#}
            {#                <a class="btn btn-default disabled"><span#}
            {#                        class="fa fa-chevron-left"></span> {{ previous_month|date:"F Y" }}#}
            {#                </a>#}
            {#            {% else %}#}
            <a href="{% url 'shift:archive_month_contract_numeric' year=previous_month|date:"Y" month=previous_month|date:"m" contract=view.contract %}"
               class="btn btn-default pull-left" style="width:50%"><span class="fa fa-chevron-left"></span> {{ previous_month|date:"F Y" }}
            </a>
            {#            {% endif %}#}
            {#            {% if not next_month or not shift %}#}
            {#                <a class="btn btn-default disabled">{{ next_month|date:"F Y" }} <span#}
            {#                        class="fa fa-chevron-right"></span></a>#}
            {#            {% else %}#}
            <a href="{% url 'shift:archive_month_contract_numeric' year=next_month|date:"Y" month=next_month|date:"m" contract=view.contract %}"
               class="btn btn-default" style="width:50%">{{ next_month|date:"F Y" }} <span class="fa fa-chevron-right"></span></a>
            {#            {% endif %}#}
        </div>
        <div class="col-sm-12 col-md-3">
            <a href="{% url 'shift:new' %}" class="btn btn-primary" style="width:100%"><span
                    class="fa fa-plus"></span> {% trans 'Add new shift' %}</a>
        </div>
        <div class="col-sm-12 col-md-2">
            <a href="{% if not view.kwargs.contract or view.kwargs.contract|add:0 < 1 %}#{% else %}{% url 'export:contract' year=view.kwargs.year month=view.kwargs.month pk=view.kwargs.contract %}{% endif %}" class="btn btn-default{% if not view.kwargs.contract or view.kwargs.contract|add:0 < 1 %} disabled{% endif %}" style="width:100%"><span
                class="fa fa-archive"></span> {% trans 'Export month' %}</a></div>
        <div class="col-sm-12">
            <select id="contractSelect" class="block form-control work-select selectpicker" name="contractSelect"
                    {% if not view.get_all_contracts %}disabled{% endif %}>
                <optgroup label="{% trans 'Select contract' %}">
                    <option value="0"{% if view.contract == '0' %}selected="selected"{% endif %}>{% trans 'Shifts without contracts' %}</option>
                    <option value="00"{% if view.contract == '00' %}selected="selected"{% endif %}>{% trans 'All contracts' %}</option>
                    {% for contract in view.get_all_contracts %}
                    <option value="{{ contract.pk }}"{% if contract.pk == view.contract|add:0 %}selected="selected"{% endif %}{% if not view.kwargs.contract and not view.contract == '00' and contract.department == view.get_default_contract %}selected="selected"{% endif %}>{{ contract }}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>
    </div>
    <table id="clockTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
           width="100%">
        <thead>
        <tr>
            {% if object_list %}
                <th></th>
                <th></th>
            {% endif %}
            <th>{% trans 'Shift No.' %}</th>
            <th>{% trans 'Contract' %}</th>
            <th>{% trans 'Shift started' %}</th>
            <th>{% trans 'Shift finished' %}</th>
            <th>{% trans 'Pause duration' %}</th>
            <th>{% trans 'Shift duration' %}</th>
            <th>{% trans 'Key' %}</th>
        </tr>
        </thead>
        {% if object_list|length > 5 %}
        <tfoot>
        <tr>
            {% if object_list %}
                <th></th>
                <th></th>
            {% endif %}
            <th>{% trans 'Shift No.' %}</th>
            <th>{% trans 'Contract' %}</th>
            <th>{% trans 'Shift started' %}</th>
            <th>{% trans 'Shift finished' %}</th>
            <th>{% trans 'Pause duration' %}</th>
            <th>{% trans 'Shift duration' %}</th>
            <th>{% trans 'Key' %}</th>
        </tr>
        </tfoot>
        {% endif %}
        <tbody>
        {% for shift in object_list %}
            <tr id="{{ shift.pk }}">
                <td></td>
                <td></td>
                <td class="text-right">{{ forloop.revcounter }}</td>
                <td class="text-right">{{ shift.contract|format_contract }}</td>
                <td class="text-right">{{ shift.shift_started }}</td>
                <td class="text-right">{{ shift.shift_finished }}</td>
                <td class="text-right">{{ shift.pause_duration|format_dttd:"%H:%M" }}</td>
                <td class="text-right">{{ shift.shift_duration|format_dttd:"%H:%M" }}</td>
                <td class="text-right">{{ shift.get_key_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock container %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'libraries/datatables/js/datatables.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();


            $('#contractSelect').change(function() {
                var year = moment().format("YYYY");
                var month = moment().format("MM");
                {% if view.kwargs %}
                year = {{ view.kwargs.year }};
                month = {{ view.kwargs.month }};
                {% endif %}
                window.location.href = "/shift/" + year + "/" + month + "/contract/" + $(this).find("option:selected").val();
            });

            var displayedMonth = false;
            var monthPicker = $('#monthpicker');
            // Check if the displayed month is equal to the current month. If not, set the default month to the displayed one.
            if ("{{ month|date:"Y-m" }}" != moment().format("YYYY-MM")) {
                displayedMonth = "{{ month|date:"Y-m" }}";
            }
            monthPicker.datetimepicker({
                'defaultDate': displayedMonth,
                'allowInputToggle': true,
                'format': 'MMMM YYYY',
                'focusOnShow': false,
                'viewMode': 'months',
                'enabledDates': [moment().format("YYYY-MM")],
                'locale': '{{ LANGUAGE_CODE }}',
            });

            // We want to change the page, when the date inside the picker was changed!
            monthPicker.on("dp.change", function (e) {
                // Grab the current date using moment.js
                var currentDate = moment();
                // If the displayed date is set, then we are not on the current date. Redirecting is OK!
                if (displayedMonth) {
                    window.location.href = "/shift/" + e.date.format("YYYY") + "/" + e.date.format("MM");
                }
                // Otherwise the date is today. Check if the clicked date is the same as today. If not, redirect!
                if (e.date.format("YYYY-MM") != currentDate.format("YYYY-MM")) {
                    window.location.href = "/shift/" + e.date.format("YYYY") + "/" + e.date.format("MM");
                }
            });
            // Hide the current value, so the placeholder is always shown!
            monthPicker.find(".form-control").val("");

            // Now the magic with the datatables comes into play.
            $('#clockTable').DataTable({
                dom: 'Bfrtip',
                responsive: true,
                {#        ajax: "static/json/shift_data.json",#}
                columns: [
                    {% if object_list %}
                        { // Responsive control column
                            data: null,
                            defaultContent: '',
                            className: 'control',
                            orderable: false
                        }, { // Checkbox select column
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox',
                        orderable: false
                    },
                    {% endif %}
                    {
                        data: "forloop.counter"
                    }, {
                        data: "contract"
                    }, {
                        data: "shift_started"
                    }, {
                        data: "shift_finished"
                    }, {
                        data: "pause_duration"
                    }, {
                        data: "shift_duration"
                    }, {
                        data: "key"
                    }],
                {% if object_list %}
                    columnDefs: [{
                        responsivePriority: 1,
                        targets: 4
                    }, {
                        responsivePriority: 2,
                        targets: -2
                    }],
                {% else %}
                    columnDefs: [{
                        responsivePriority: 1,
                        targets: 2
                    }, {
                        responsivePriority: 2,
                        targets: -2
                    }],
                {% endif %}
                order: [2, 'desc'],
                select: {
                    style: 'os',
                    selector: 'td.select-checkbox'
                },
                buttons: [],
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == 'de' %}
                    language: {
                        url: "{% static 'libraries/datatables/locale/de.json' %}"
                    }
                {% endif %}
            });
        });

        $('#clockTable').on('click', 'tbody tr', function (evt) {

            // Handles the functionality around redirecting users to the clicked shift

            // Save element the click is performed on
            var target = $(evt.target);
            {#            console.log($(evt.target));#}
            {#            console.log(target.closest('td').index());#}

            var newPage;

            // Extremely quick-and-dirty method to get the whole click-thing running. There should be a better way!
            // This basically checks which element was clicked and then redirects to the edit page
            // The edit page should be /shift/<pk>/edit/
            // Every element is nested differently, but the <pk> is inside the original table <tr> ID-attribute
            // The first two cells (the expendable on mobile devices and the checkbox cell) are ignored.

            // If the row has a cell with a class .control and is visible
            if ($(this).find('td.control:visible').length) {
                // If clicked cell was not the control cell
                if (target.closest('td').index() > 1) {
                    newPage = target.parent().attr('id');
                    window.location.href = "/shift/" + newPage + "/edit/";
                }
                // Another check if we are clicking on the extra info shown on mobile devices!
            } else if (target.is('td.child')) {
                newPage = target.parent().prev().attr('id');
                window.location.href = "/shift/" + newPage + "/edit/";
            } else if (target.is("li")) {
                newPage = target.parent().parent().parent().prev().attr('id');
                window.location.href = "/shift/" + newPage + "/edit/";
            } else if (target.is('span.dtr-data') || target.is('span.dtr-title')) {
                newPage = target.parent().parent().parent().parent().prev().attr('id');
                window.location.href = "/shift/" + newPage + "/edit/";
                // If .control class is not visible, we're obviously on a bigger screen.
                // Check if we are clicking on the .select-checkbox td or any other!
            } else if (target.closest('td').index() > 1) {
                newPage = target.parent().attr('id');
                window.location.href = "/shift/" + newPage + "/edit/";
            }
        });
    </script>
{% endblock extra_js %}
