{% extends 'shift/base.html' %}
{% load format_duration %}

{% block container %}
<ul>
    {% for shift in object_list %}
        <li><a href="{% url 'shift:edit' pk=shift.pk %}">{{ forloop.counter }} - Start: {{ shift.started }} -
            Ende: {{ shift.finished }} - {{ shift.duration|format_dttd }}</a></li>
    {% endfor %}
</ul>

<p>
    {% if previous_week %}
        Previous Week: <a href="{% url 'shift:archive_week' year=previous_week|date:"Y" week=previous_week|format_week %}">{{ previous_week|format_week }} of year {{ previous_week|date:"Y" }}</a>
    {% endif %}
    {% if previous_week and next_week %}--{% endif %}
    {% if next_week %}
        Next week: <a href="{% url 'shift:archive_week' year=next_week|date:"Y" week=next_week|format_week %}">{{ next_week|format_week }} of year {{ next_week|date:"Y" }}</a>
    {% endif %}
</p>
{% endblock container %}
