{% extends "work/shift/shift_base.html" %}

{% block content %}
<ul>
    {% for shift in object_list %}
        <li>{{ shift.shift_started}} - {{ shift.shift_finished }} - {{ shift.contract }}</li>
    {% endfor %}
</ul>

{% for objects in date_list %}
{{objects}}
{% endfor %}



<p>
    {% if previous_month %}
        Previous Month: {{ previous_month|date:"F Y" }}
    {% endif %}
    {% if next_month %}
        Next Month: {{ next_month|date:"F Y" }}
    {% endif %}
</p>
{% endblock content %}
