{% extends "work/shift/shift_base.html" %}

{% block content %}
<ul>
    {% for shift in object_list %}
        <li>{{ shift.shift_started}} - {{ shift.shift_finished }} - {{ shift.contract }}</li>
    {% endfor %}
</ul>

{% for objects in date_list %}
{{objects}}
{% endfor %}



<p>
    {% if previous_month %}
        Previous Month: <a href="{% url "work:archive_month_numeric" year=previous_month|date:"Y" month=previous_month|date:"m" %}">{{ previous_month|date:"F Y" }}</a>
    {% endif %}
    {% if next_month %}
        Next Month: <a href="{% url "work:archive_month_numeric" year=next_month|date:"Y" month=next_month|date:"m" %}">{{ next_month|date:"F Y" }}</a>
    {% endif %}
</p>
{% endblock content %}
