{% extends 'contract/base.html' %}
{% load staticfiles i18n django_bootstrap_breadcrumbs crispy_forms_tags %}

{% block extra_title %}{% if contract %}{% trans 'Update contract' %}{% else %}{% trans 'New contract' %}
{% endif %}{% endblock extra_title %}

{% block breadcrumbs %}{{ block.super }}
    {% if contract %}
        {% breadcrumb "Update contract" "contract:edit" contract.pk %}
    {% else %}
        {% breadcrumb "New contract" "contract:new" %}
    {% endif %}
{% endblock breadcrumbs %}

{% block container %}
    <div class="row">
        <div class="col-sm-6">
            {% if contract %}
                <h2>{% trans 'Update contract' %}</h2>
            {% else %}
                <h2>{% trans 'New contract' %}</h2>
            {% endif %}
            {% crispy form %}
        </div>
    </div>
{% endblock container %}

{% block extra_js %}
    <script type="text/javascript">
      $(function () {
        /**
         * Checks whether the supplied data is in the HH:MM format and will try to force it that way.
         * Accepts everything between 00:00 to 80:00 (80 hours and 00 minutes).
         */
        function check_contract_hours(thisObj) {
            var re = /^(([0-9]|0[0-9]|[1-7][0-9]):[0-5][0-9])|(80):00$/;

            if (thisObj.val()) {
                if (!re.test(thisObj.val())) {
                    // If the test fails, we'll try to play around with the first two characters
                    var h = thisObj.val().substring(0, 2);
                    if (Math.floor(h) == h && $.isNumeric(h)) {
                        // Are they a number?
                        if (h > 0 && h < 10 && h.length == 1) {
                            // Fires if h is between 1 and 9 and does not have a leading zero
                            h = '0' + h;
                        } else if (h < 1) {
                            // Only fires if h is '0'
                            h = '40';
                        } else if (h > 80) {
                            h = '80';
                        }
                        var o = h + ':00';
                        thisObj.val(o);
                        thisObj.data('val', o);
                    }
                    if (thisObj.data('val') === undefined) {
                        // Should never trigger I think..?
                        thisObj.val('40:00');
                    } else {
                        // Set the value from data!
                        thisObj.val(thisObj.data('val'));
                    }
                } else {
                    var s = thisObj.val().split(':');
                    var h = s[0];
                    var m = s[1];
                    if (h.length == 1 && h < 10) {
                        h = '0' + h;
                        o = h + ':' + m;
                        thisObj.val(o);
                        thisObj.data('val', o);
                    }
                }
            }
        }
        $('#id_hours').on('focusin', function () {
            $(this).data('val', $(this).val());
        });

        $('#id_hours').focusout(function () {
            check_contract_hours($(this));
        });

        const div_start_date = $("#div_id_start_date");
        const div_end_date = $("#div_id_end_date");
        const input_start_date = $("#id_start_date");
        const input_end_date = $("#id_end_date");
        const checkbox_start_end_date = $("#id_show_start_end_date");
        let start_picker
        let end_picker;

        const hideDateTimePickers = function (start_picker, end_picker) {
          div_start_date.hide();
          div_end_date.hide();
          input_start_date.val('');
          input_end_date.val('');
          if (start_picker !== undefined && end_picker !== undefined) {
            start_picker.destroy();
            end_picker.destroy();
          }
        }
        const showDateTimePickers = function (start_picker, end_picker) {
          start_picker = div_start_date.datetimepicker({
            inline: true,
            sideBySide: true,
            format: 'YYYY-MM-DD',
            locale: '{{ LANGUAGE_CODE }}',
            showClear: true
          });
          end_picker = div_end_date.datetimepicker({
            inline: true,
            format: 'YYYY-MM-DD',
            locale: '{{ LANGUAGE_CODE }}',
            showClear: true
          });
          div_start_date.show();
          div_end_date.show();
        }
        if (input_start_date.val() !== '' || input_end_date.val() !== '') {
          checkbox_start_end_date.prop('checked', true);
          showDateTimePickers(start_picker, end_picker);
        } else {
          hideDateTimePickers(start_picker, end_picker);
        }

        checkbox_start_end_date.change(function () {
          if ($(this).is(':checked')) {
            showDateTimePickers()
          } else {
            hideDateTimePickers()
          }
        });

      });
    </script>
{% endblock extra_js %}
