{% extends 'contract/base.html' %}
{% load staticfiles i18n django_bootstrap_breadcrumbs crispy_forms_tags %}

{% block extra_head %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'libraries/datatables/css/datatables.min.css' %}"/>
{% endblock extra_head %}

{% block container %}
    <h2>{% trans 'Contracts' %}</h2>
    <div class="objectList-topbar row">
        <div class="col-md-4 pull-right">
            <a href="{% url 'contract:new' %}" class="btn btn-primary pull-right"><span
                    class="fa fa-plus"></span> {% trans 'Add new contract' %}</a>
        </div>
    </div>
    <table id="clockTable" class="table table-striped table-bordered display nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
            {% if object_list %}
                <th></th>
                <th></th>
            {% endif %}
            <th class="text-right">{% trans 'Contract No.' %}</th>
            <th class="text-right">{% trans 'Contract' %}</th>
            <th class="text-right">{% trans 'Hours' %}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            {% if object_list %}
                <th></th>
                <th></th>
            {% endif %}
            <th class="text-right">{% trans 'Contract No.' %}</th>
            <th class="text-right">{% trans 'Contract' %}</th>
            <th class="text-right">{% trans 'Hours' %}</th>
        </tr>
        </tfoot>
        <tbody>
        {% for contract in object_list %}
            <tr id="{{ contract.pk }}">
                <td></td>
                <td></td>
                <td class="text-right">{{ forloop.counter }}</td>
                <td class="text-right">{{ contract.department }}</td>
                <td class="text-right">{{ contract.hours }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock container %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'libraries/datatables/js/dataTables.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Now the magic with the datatables comes into play.
            $('#clockTable').DataTable({
                dom: 'Bfrtip',
                responsive: true,
                {#        ajax: "static/json/shift_data.json",#}
                columns: [
                    {% if object_list %}
                        { // Responsive control column
                            data: null,
                            defaultContent: '',
                            className: 'control',
                            orderable: false
                        }, { // Checkbox select column
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox',
                        orderable: false
                    },
                    {% endif %}
                    {
                        data: "forloop.counter"
                    }, {
                        data: "contract"
                    }, {
                        data: "hours"
                    }],
                {% if object_list %}
                    columnDefs: [{
                        responsivePriority: 1,
                        targets: 3
                    }, {
                        responsivePriority: 2,
                        targets: -1
                    }],
                {% endif %}
                order: [2, 'desc'],
                select: {
                    style: 'os',
                    selector: 'td.select-checkbox'
                },
                buttons: [],
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == 'de' %}
                    language: {
                        url: "{% static 'libraries/datatables/locale/de.json' %}"
                    }
                {% endif %}
            });
        });

        $('#clockTable').on('click', 'tbody tr', function (evt) {

            // Handles the functionality around redirecting users to the clicked shift

            // Save element the click is performed on
            var target = $(evt.target);
            {#            console.log($(evt.target));#}
            {#            console.log(target.closest('td').index());#}

            var newPage;

            // Extremely quick-and-dirty method to get the whole click-thing running. There should be a better way!
            // This basically checks which element was clicked and then redirects to the edit page
            // The edit page should be /shift/<pk>/edit/
            // Every element is nested differently, but the <pk> is inside the original table <tr> ID-attribute
            // The first two cells (the expendable on mobile devices and the checkbox cell) are ignored.

            // If the row has a cell with a class .control and is visible
            if ($(this).find('td.control:visible').length) {
                // If clicked cell was not the control cell
                if (target.closest('td').index() > 1) {
                    newPage = target.parent().attr('id');
                    window.location.href = "/contract/" + newPage + "/edit/"
                }
                // Another check if we are clicking on the extra info shown on mobile devices!
            } else if (target.is('td.child')) {
                newPage = target.parent().prev().attr('id');
                window.location.href = "/contract/" + newPage + "/edit/"
            } else if (target.is("li")) {
                newPage = target.parent().parent().parent().prev().attr('id');
                window.location.href = "/contract/" + newPage + "/edit/"
            } else if (target.is('span.dtr-data') || target.is('span.dtr-title')) {
                newPage = target.parent().parent().parent().parent().prev().attr('id');
                window.location.href = "/contract/" + newPage + "/edit/"
                // If .control class is not visible, we're obviously on a bigger screen.
                // Check if we are clicking on the .select-checkbox td or any other!
            } else if (target.closest('td').index() > 1) {
                newPage = target.parent().attr('id');
                window.location.href = "/contract/" + newPage + "/edit/"
            }
        });
    </script>
{% endblock extra_js %}
