{% extends 'base.html' %}
{% load i18n staticfiles format_duration base_extras %}

{% block extra_head %}{{ block.super }}{% endblock extra_head %}

{% block container %}
    <div class="text-center">
        {% if not shift_closed %}
            <h3>{% trans 'No active shift running!' %}</h3>
        {% else %}
            <h4>{% trans 'Current duration:' %} <span id="current_duration">{{ current_duration|format_dttd }}</span>
            </h4>
            {% if current_shift.is_paused %}
                <h5>({% trans 'Currently paused for:' %} <span
                        id="current_pause_duration">{{ current_shift.total_pause_time|format_dttd }}</span>)</h5>
            {% endif %}
            <p>{% trans 'Your current shift started at' %}<br/>
                {{ current_shift.shift_started }}</p>
        {% endif %}
    </div>
    {% include 'pages/backend/quick_action.html' %}
    {% if contracts %}
        <h4>{% trans 'This months contract completion' %}</h4>
        <table width="100%">
            <thead>
            <th>Department</th>
            <th>Progress (current month)</th>
            </thead>
            {% for contract in contracts %}
                <tbody>
                <tr>
                    <td>{{ contract.department }}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 aria-valuenow="{{ contract.completed_work_hours_percentage }}" aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="min-width: 2em; width: {% if contract.completed_work_hours_percentage > 100 %}100{% elif contract.completed_work_hours_percentage < 25 %}25{% else %}{{ contract.completed_work_hours_percentage }}{% endif %}%;">
                                {{ contract.completed_hours_per_month }} / {{ contract.hours }}
                                ({{ contract.completed_work_hours_percentage }}%)
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    {% endif %}
    <h4>{% trans 'Last five finished shifts' %}</h4>
    {% if not last_shifts %}
        {% trans 'You do not have any finished shifts!' %}
    {% else %}
        <table id="clockTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th></th>
                <th>{% trans 'Shift No.' %}</th>
                <th>{% trans 'Contract' %}</th>
                <th>{% trans 'Shift started' %}</th>
                <th>{% trans 'Shift finished' %}</th>
                <th>{% trans 'Pause duration' %}</th>
                <th>{% trans 'Shift duration' %}</th>
                <th>{% trans 'Key' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for shift in last_shifts %}
                <tr id="{{ shift.pk }}">
                    <td></td>
                    <td class="text-right">{{ forloop.counter }}</td>
                    <td class="text-right">{{ shift.contract|format_contract }}</td>
                    <td class="text-right">{{ shift.shift_started }}</td>
                    <td class="text-right">{{ shift.shift_finished }}</td>
                    <td class="text-right">{{ shift.pause_duration|format_dttd:"%H:%M" }}</td>
                    <td class="text-right">{{ shift.shift_duration|format_dttd:"%H:%M" }}</td>
                    <td class="text-right">{{ shift.get_key_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock container %}

{% block extra_js %}
    {% if shift_closed %}
        <script type="application/javascript">
            (function () {
                // JS from here: http://cssdeck.com/labs/minimal-css3-digital-clock
                var clock = document.querySelector('span#current_duration');
                {% if current_shift.is_paused %}
                    var clock = document.querySelector('span#current_pause_duration');
                {% endif %}
                // But there is a little problem
                // we need to pad 0-9 with an extra
                // 0 on the left for hours, seconds, minutes

                var pad = function (x) {
                    return x < 10 ? '0' + x : x;
                };
                var d_day = Math.floor({{ current_duration|format_dttd:"%H" }} / 24
                )
                ;

                var d = new Date(0, 0, d_day, {{ current_duration|format_dttd:"%H" }}, {{ current_duration|format_dttd:"%M" }}, {{ current_duration|format_dttd:"%S" }});
                {% if current_shift.is_paused %}
                    var d = new Date(0, 0, d_day, {{ current_shift.total_pause_time|format_dttd:"%H" }}, {{ current_shift.total_pause_time|format_dttd:"%M" }}, {{ current_shift.total_pause_time|format_dttd:"%M" }});
                {% endif %}

                var ticktock = function () {
                    d.setSeconds(d.getSeconds() + 1);

                    var h = pad(d.getHours());
                    var m = pad(d.getMinutes());
                    var s = pad(d.getSeconds());

                    var current_time = [h, m, s].join(':');
                    var day_string = (d_day == 1) ? d_day + " {% trans 'day' %}, " : d_day + " {% trans 'days' %}, ";
                    var my_string = (d_day > 0) ? day_string + current_time : current_time;

                    clock.innerHTML = my_string;
                };
                ticktock();

                // Calling ticktock() every 1 second
                setInterval(ticktock, 1000);
            }());
        </script>
    {% endif %}
        {% if last_shifts %}
        <script type="text/javascript">
            $(document).ready(function () {
                // Now the magic with the datatables comes into play.
                $('#clockTable').DataTable({
                    "info": false,
                    "paging": false,
                    "searching": false,
                    dom: 'Bfrtip',
                    responsive: true,
                    columns: [
                        { // Responsive control column
                            data: null,
                            defaultContent: '',
                            className: 'control',
                            orderable: false
                        },
                        {
                            data: "forloop.counter"
                        }, {
                            data: "contract"
                        }, {
                            data: "shift_started"
                        }, {
                            data: "shift_finished"
                        }, {
                            data: "pause_duration"
                        }, {
                            data: "shift_duration"
                        }, {
                            data: "key"
                        }],
                    columnDefs: [{
                        responsivePriority: 1,
                        targets: 3
                    }, {
                        responsivePriority: 2,
                        targets: -1
                    }],
                    buttons: [],
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == 'de' %}
                        language: {
                            url: "{% static 'libraries/datatables/locale/de.json' %}"
                        }
                    {% endif %}
                });
            });

            $('#clockTable').on('click', 'tbody tr', function (evt) {

                // Handles the functionality around redirecting users to the clicked shift

                // Save element the click is performed on
                var target = $(evt.target);
                {#            console.log($(evt.target));#}
                {#            console.log(target.closest('td').index());#}

                var newPage;

                // Extremely quick-and-dirty method to get the whole click-thing running. There should be a better way!
                // This basically checks which element was clicked and then redirects to the edit page
                // The edit page should be /shift/<pk>/edit/
                // Every element is nested differently, but the <pk> is inside the original table <tr> ID-attribute
                // The first two cells (the expendable on mobile devices and the checkbox cell) are ignored.

                // If the row has a cell with a class .control and is visible
                if ($(this).find('td.control:visible').length) {
                    // If clicked cell was not the control cell
                    if (target.closest('td').index() > 1) {
                        newPage = target.parent().attr('id');
                        window.location.href = "/shift/" + newPage + "/edit/"
                    }
                    // Another check if we are clicking on the extra info shown on mobile devices!
                } else if (target.is('td.child')) {
                    newPage = target.parent().prev().attr('id');
                    window.location.href = "/shift/" + newPage + "/edit/"
                } else if (target.is("li")) {
                    newPage = target.parent().parent().parent().prev().attr('id');
                    window.location.href = "/shift/" + newPage + "/edit/"
                } else if (target.is('span.dtr-data') || target.is('span.dtr-title')) {
                    newPage = target.parent().parent().parent().parent().prev().attr('id');
                    window.location.href = "/shift/" + newPage + "/edit/"
                    // If .control class is not visible, we're obviously on a bigger screen.
                    // Check if we are clicking on the .select-checkbox td or any other!
                } else if (target.closest('td').index() > 1) {
                    newPage = target.parent().attr('id');
                    window.location.href = "/shift/" + newPage + "/edit/"
                }
            });
        </script>
    {% endif %}
{% endblock extra_js %}
