{% load render_bundle from webpack_loader %}{% load staticfiles i18n bootstrap3 django_bootstrap_breadcrumbs base_extras %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'common/favicons/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'common/favicons/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'common/favicons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'common/favicons/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'common/favicons/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'common/favicons/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'common/favicons/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'common/favicons/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'common/favicons/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static 'common/favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'common/favicons/android-chrome-192x192.png' %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'common/favicons/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'common/favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'common/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'common/favicons/safari-pinned-tab.svg' %}" color="#1953a1">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="{% static 'common/favicons/mstile-144x144.png' %}">
    <meta name="theme-color" content="#00aba9">

    <title>{% block title %}Clock | {% endblock title %}{% block extra_title %}Goethe-Universität{% endblock extra_title %}</title>
    {% render_bundle 'main' %}
    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
<div id="wrap">
    {% block header %}
        <header>
            <div class="container">{% include 'nav.html' %}</div> <!-- /.container -->
        </header> <!-- /header -->
    {% endblock header %}
    <div class="container">
        {% block breadcrumbs %}
            {% breadcrumb "Home" "/" %}
        {% endblock breadcrumbs %}
        {% if not 'frontend/index.html' in template_to_render %}
        {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
        {% bootstrap_messages %}
        {% endif %}
        {% if debug %}
            <!-- Some useful debug informations below.. -->
            <h3>Current kwargs: {{ request.session.current_kwargs }}</h3>
            <h3>Current visited: {{ request.session.currently_visiting }}</h3>
            <h3>Last kwargs: {{ request.session.last_kwargs }}</h3>
            <h3>Last visited: {{ request.session.last_visited }}</h3>
        {% endif %}
        {% block container %}There is no content in this container!{% endblock container %}
    </div> <!-- /.container -->
</div> <!-- /#wrap -->

<div id="footer">
    <div class="container">
        <p class="pull-right"><a href="#">{% trans 'Back to top' %}</a></p>
        <p>&copy; 2016 Clock &middot; <a href="{% url 'imprint' %}">{% trans 'Imprint' %}</a> &middot; <a
                href="{% url 'privacy' %}">{% trans 'Privacy' %}</a> &middot; <a
                href="{% url 'contact:form' %}">{% trans 'Contact' %}</a>{# &middot; <a href="#">Status</a>#}</p>
    </div> <!-- /.container -->
</div> <!-- /#footer -->

{% block extra_js %}{% endblock extra_js %}
</body>
</html>
