{% load staticfiles i18n %}
<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'common/images/logo.svg' %}"
                                                                 alt="Clock Logo"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if not request.user.is_authenticated %}
                    <li><a href="about.html">About</a></li>
                    <li><a href="{% url 'account_login' %}">{% trans 'Login' %}</a></li>
                    <li><a href="{% url 'account_signup' %}">{% trans 'Try it now!' %}</a></li>
                {% else %}
                    <li><a href="{% url 'work:shift_list' %}">{% trans 'Shift' %}</a></li>
                    {#                <li class="dropdown">#}
                    {#                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shift <span class="caret"></span></a>#}
                    {#                  <ul class="dropdown-menu">#}
                    {#                    <li><a href="{% url 'work:shift_list' %}">Übersicht</a></li>#}
                    {#                    <li><a href="shift_weeks.html">Wochen</a></li>#}
                    {#                    <li><a href="shift_months.html">Monate</a></li>#}
                    {#                    <li><a href="shift_years.html">Jahre</a></li>#}
                    {#                  </ul>#}
                    {#                </li>#}
                    <li><a href="{% url 'work:contract_list' %}">{% trans 'Contract' %}</a></li>
                    <li><a href="{% url 'account_logout' %}">{% trans 'Logout' %}</a></li>
                {% endif %}
            </ul>
        </div> <!-- /.nav-collapse -->
    </div> <!-- /.container-fluid -->
</nav> <!-- /nav -->
